<div class="main-container full-height full-width flex center-center column">
    <mat-toolbar class="spaceBetween-center opacity">
        <div class="flex gap-1em"> <span class="material-symbols-outlined icon-larger">account_circle</span>
            <h1>KEARABETSWE</h1>
            <span class="material-symbols-outlined flex center-center cursor" matTooltip="Read messages" (click)="messages('readMe')" matBadge="{{myCount.length}}">mail</span>
            <span class="material-symbols-outlined flex center-center cursor"  matTooltip="Send messages" (click)="messages('sendMe')">send</span>
            
        </div>
        <div class="width-700px flex center-center"><marquee ><img src="../../../assets/pictures/Afrika-Tikkun-Logo.webp" class="height-100px" alt="afrika"></marquee></div>
        <button class="log-out" (click)="home()">log out</button>
    </mat-toolbar>
    <h1 class="text-center"><strong>WELCOME TO ADMIN DASHBOARD</strong></h1>
    
    <div class="main-inner flex wrap center-center gap-1em" >
        <!-- ======================Add Users========================= -->
        <div class="card flex center-center" (click)="fileInput.click()">
            <input type="file" (change)="UploadDoc($event)" #fileInput accept=".csv,.xlsx" style="display: none;">
            <img class="full-height" src="../../../assets/pictures/microsoft-excel-computer-software-microsoft-office-microsoft-2a8278972c98ad92929567c2f31ff2af.png" alt="excel pic">
            <div>
                <h2>Upload Users</h2>
                <h2 routerLink="/landing/all-users"><span class="span">View all Users</span></h2>
            </div>
        </div>
        <!-- ======================Policies===================== -->
        <div class="card card1" (click)="policies()"></div>
        <!-- ======================Switch Users===================== -->
        <div class="card flex center-center gap-1em" (click)="switchUsers()">
            <img class="full-height" src="../../../assets/pictures/social-media.png" alt="social-media">
            <h2>Switch Users</h2>
        </div>
        <!-- ======================Aproved leaves===================== -->
        <div class="card flex center-center gap-1em" (click)="ApprovedLeaves()">
            <img class="full-height" src="../../../assets/pictures/outlook-out-of-office.png" alt="outlook-out-of-office">
            <h2>Approved leaves</h2>
        </div>
    </div>
</div>