.width-700px{
    width: 700px;
}
.padding-15px{
    padding: 15px;
    box-sizing: border-box;
}
.btns{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: aquamarine;

}
button:hover{
    background-color: rgb(14, 173, 120);
    color: white;
}