<div class="main-container flex center-center column message-bg border-double">
    <h1 class="text-center">Please add a policy</h1>
    <form class="example-form flex center-center column padding-15px" #policyForm="ngForm">
        <!-- Title -->
        <mat-form-field class="example-full-width width-700px">
          <mat-label>Title</mat-label>
          <input type="text" matInput placeholder="Ex. pat@example.com" [(ngModel)]="policyFormData.title" #title="ngModel" name="title" required>
          <mat-error *ngIf="title.errors && title.errors['required']">
            this field is required
          </mat-error>
        </mat-form-field>
        <!-- content -->
        <mat-form-field class="example-full-width width-700px">
            <mat-label>Policy content</mat-label>
            <input type="text" matInput placeholder="Ex. pat@example.com" [(ngModel)]="policyFormData.content" #content="ngModel" name="content" required>
            <mat-error *ngIf="content.errors && content.errors['required']">
              this field is required
            </mat-error>
          </mat-form-field>
          <!-- procedures -->
          <mat-form-field class="example-full-width width-700px">
            <mat-label>Policy procedures</mat-label>
            <input type="text" matInput placeholder="Ex. pat@example.com" [(ngModel)]="policyFormData.procedure" #procedures="ngModel" name="procedures" required>
            <mat-error *ngIf="procedures.errors && procedures.errors['required']">
              this field is required
            </mat-error>
          </mat-form-field>

          <!-- Category -->

          <mat-form-field class="example-full-width width-700px">
            <mat-label>Choose a category</mat-label>
            <mat-select [(ngModel)]="policyFormData.category" name="category">
              <mat-option *ngFor="let cat of categories" [value]="cat">
                {{cat}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- link -->

          <mat-form-field class="example-full-width width-700px">
            <mat-label>Form link</mat-label>
            <input type="text" matInput placeholder="Ex. pat@example.com" [(ngModel)]="policyFormData.link" #link="ngModel" name="link" required>
            <mat-error *ngIf="link.errors && link.errors['required']">
              this field is required
            </mat-error>
          </mat-form-field>
      </form>
      <div class="flex gap-1em">
        <button class="btns" (click)="close()">Back</button>
        <button class="btns" (click)="submitPolicy()" [disabled]="policyForm.invalid">Submit</button>
      </div>
</div>
