<div class="main-container flex center-center column message-bg border-double">
    <h1 class="text-center">Please fill in the Flight Form</h1>
    <form class="example-form flex center-center column padding-15px" #flightForm="ngForm">
        <!-- full names -->
        <mat-form-field class="example-full-width width-700px">
            <mat-label>Full Names:</mat-label>
            <input type="text" matInput placeholder="e.g kearabetswe john Maja" [(ngModel)]="flightFormData.fullNames"
                #fullNames="ngModel" name="fullNames" required>
            <mat-error *ngIf="fullNames.errors && fullNames.errors['required']">
                this field is required
            </mat-error>
        </mat-form-field>
        <!-- email -->
        <mat-form-field class="example-full-width width-700px">
            <mat-label>Email address:</mat-label>
            <input type="text" matInput placeholder="e.g kea@gmail.com" [(ngModel)]="flightFormData.email"
                #email="ngModel" name="email" required>
            <mat-error *ngIf="email.errors && email.errors['required']">
                this field is required
            </mat-error>
        </mat-form-field>
        <!-- contact Number -->
        <mat-form-field class="example-full-width width-700px">
            <mat-label>Contact:</mat-label>
            <input type="text" matInput placeholder="e.g supervisor" [(ngModel)]="flightFormData.contact"
                #contact="ngModel" name="contact" required>
            <mat-error *ngIf="contact.errors && contact.errors['required']">
                this field is required
            </mat-error>
        </mat-form-field>

        <!-- Passport number -->

        <mat-form-field class="example-full-width width-700px">
            <mat-label>Ticket Number</mat-label>
            <input type="text" matInput placeholder="e.g 7 days" [(ngModel)]="flightFormData.ticketNo" #ticketNo="ngModel"
                name="ticketNo" required>
            <mat-error *ngIf="ticketNo.errors && ticketNo.errors['required']">
                this field is required
            </mat-error>
        </mat-form-field>
        <!-- Date -->
        <div class="flex gap-1em ">
            <mat-form-field class="example-full-width width-300px" appearance="fill" (click)="picker.open()">
                <mat-label>From :</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="flightFormData.startDate" #startDate="ngModel" name="startDate" required>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="example-full-width width-300px" appearance="fill" (click)="picker1.open()">
                <mat-label>To :</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="flightFormData.endDate" #endDate="ngModel" name="endDate" required>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

        </div>


        <!-- =============Extra information==================== -->
        <mat-form-field class="example-full-width width-700px">
            <mat-label>Additional information:</mat-label>
            <input type="text" matInput [(ngModel)]="flightFormData.reason"
                #reason="ngModel" name="reason" >
            <mat-error *ngIf="reason.errors && reason.errors['required']">
                this field is required
            </mat-error>
        </mat-form-field>
    </form>
    <div class="flex gap-1em">
        <button class="btns" (click)="close()">Back</button>
        <button class="btns" (click)="submitFlightForm()" [disabled]="flightForm.invalid">Submit</button>
    </div>
</div>

