<div class="message-bg border-double">
    <h1 mat-dialog-title class="text-center"><b>Policy Details</b></h1>
<div mat-dialog-content >
    <h2 class="text-center"><b>Policy Name :</b> {{data.title}}</h2>
    <p><b>Policy Content :</b> {{data.content}}</p>
    <p><b>Policy Procedure :</b> {{data.procedure}}</p>
    <p><b>Policy Category :</b> {{data.category}}</p>
    <p><b>Policy Link :</b> {{data.link}}</p>
</div>
<div mat-dialog-actions class="flex center-center">
    <div class=><button mat-button mat-dialog-close >Close</button></div>
    
</div>
</div>