<div class="main-container height-vh full-width flex column">
    <mat-toolbar class="spaceBetween-center opacity">
        <div class="flex gap-1em"> <span class="material-symbols-outlined icon-larger">account_circle</span>
            <h1>KEARABETSWE</h1>
        </div>
        <div class="width-700px flex center-center"><marquee ><img src="../../../assets/pictures/Afrika-Tikkun-Logo.webp" class="height-100px" alt="afrika"></marquee></div>
        <button class="log-out" (click)="home()">log out</button>
    </mat-toolbar>
    <div><router-outlet></router-outlet></div>
</div>
