<div class="main-container flex center-center column full-height full-width message-bg border-double">
    <h1>ALL Travel information</h1>
    <div *ngIf="travelData.length == 0"> <img src="../../../assets/pictures/No-data-found-banner.png" alt="No data"></div>
    <div class="flex center-center width-80" *ngIf="travelData.length > 0">

        <mat-table [dataSource]="travelData" class="mat-elevation-z8">
            <!-- full names -->
            <ng-container matColumnDef="$implicit">
                <th mat-header-cell *matHeaderCellDef>
                    <h1 class="text-center">Employe Full Names: </h1>
                </th>
                <td mat-cell *matCellDef="let travelData" class="cursor">
                    <p class="text-center">{{travelData.fullNames}}</p>
                </td>
            </ng-container>

            <!-- email address -->
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>
                    <h1 class="text-center"> email address </h1>
                </th>
                <td mat-cell *matCellDef="let travelData    " class="cursor">
                    <p class="text-center"> {{travelData.email}} </p>
                </td>
            </ng-container>

            <!-- travel date -->
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef>
                    <h1 class="text-center"> comfirmed travel date : </h1>
                </th>
                <td mat-cell *matCellDef="let travelData " class="cursor">
                    <p class="text-center">{{travelData.endDate.substring(0,10)}}</p>
                </td>
            </ng-container>

            <!-- country trsvellibf to: -->
            <ng-container matColumnDef="numberOfDays">
                <th mat-header-cell *matHeaderCellDef>
                    <h1 class="text-center"> Country traveling to: </h1>
                </th>
                <td mat-cell *matCellDef="let travelData " class="cursor">
                    <p class="text-center">{{travelData.country}}</p>
                </td>
            </ng-container>
            <!-- Passport number -->
            <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef>
                    <h1 class="text-center"> Passport Number </h1>
                </th>
                <td mat-cell *matCellDef="let travelData " class="cursor">
                    <p class="text-center">{{travelData.PassportNo}}</p>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </mat-table>
    </div>

    <div class="flex center-center gap-1em">
        <button class="btn" (click)="close()">Back</button>
    </div>

</div>

