<div class="main-container full-height full-width flex center-center column afrika-bg">
    <mat-toolbar class="spaceBetween-center opacity">
        <div class="flex gap-1em center-center"> <span class="material-symbols-outlined icon-larger">account_circle</span>
            <h1>{{currentEmployee[0].firstName}} {{currentEmployee[0].lastName}}</h1>
            <span class="material-symbols-outlined flex center-center cursor" matTooltip="Read messages" (click)="messages('readMe')" matBadge="{{myCount.length}}">mail</span>
            <span class="material-symbols-outlined flex center-center cursor"  matTooltip="Send messages" (click)="messages('sendMe')">send</span>
            
        </div>
        <div class="width-700px flex center-center"><marquee ><img src="../../../assets/pictures/Afrika-Tikkun-Logo.webp" class="height-100px" alt="afrika"></marquee></div>
        <button class="log-out" (click)="home()">log out</button>
    </mat-toolbar>
    <h1 class="text-center"><strong>WELCOME TO {{currentEmployee[0].firstName.toUpperCase()}}
            {{currentEmployee[0].lastName.toUpperCase()}} DASHBOARD</strong></h1>

    <div class="main-inner flex wrap center-center gap-1em">
        <!-- ======================Visa extension========================= -->
        <div class="card card2 flex center-center" (click)="Visa()">
            <img class="full-height" src="../../../assets/pictures/VISA-Logo-history.png" alt="excel pic">
            <h2>Visa Extension </h2>
        </div>
        <!-- ======================GUEST HOUSES===================== -->
        <div class="card text-center flex center-center " (click)="accomodation()">
            <img class="full-height" src="../../../assets/pictures/hotel...png" alt="Hotel-Booking-1280x720">
            <h2>Guest houses</h2>
        </div>
        <!-- ======================FLIGHT INFORMATION===================== -->
        <div class="card flex center-center gap-1em" (click)="flight()">
            <img class="height-80" src="../../../assets/pictures/a380-aircraft.png" alt="social-media">
            <h4>flight information</h4>
        </div>
        <!-- ======================PICK UPS===================== -->
        <div class="card flex center-center gap-1em" (click)="pickUp()">
            <img class="full-height" src="../../../assets/pictures/pasted image 0.png" alt="outlook-out-of-office">
            <h2>Pick-Ups</h2>
        </div>
        <!-- ======================INTERNATIONAL TRAVEL===================== -->
        <div class="card flex center-center" (click)="travel()">
            <img class="full-height" src="../../../assets/pictures//international travel.png"
                alt="outlook-out-of-office">
            <h2 class="margin-0">Inter... <br>Travel</h2>
        </div>
        <!-- ======================DOMESTIC TRAVEL===================== -->
        <div class="card flex center-center gap-1em" (click)="travel()">
            <img class="height-80" src="../../../assets/pictures/local travel............png"
                alt="outlook-out-of-office">
            <h2>Domestic travel</h2>
        </div>
        <!-- ======================Show profile========================= -->
        <div class="card card2 flex center-center" (click)="showProfile()">
            <img class="full-height" src="../../../assets/pictures/my-profile-icon-24.png" alt="excel pic">
            <h2>My Profile</h2>
        </div>
        <!-- ======================HR POLICIES===================== -->
        <div class="card card1 text-center flex center-center" (click)="ShowPolicy(policyDetails)"></div>
        <!-- ======================Leave requests===================== -->
        <div class="card flex center-center gap-1em" (click)="LeavesRequest()">
            <img class="full-height" src="../../../assets/pictures/files.png" alt="outlook-out-of-office">
            <h2>Leave Requests</h2>
        </div>
        <!-- =======================Approved Leaves -->
        <div class="card card2 flex center-center" (click)="showLeaves()">
            <img class="full-height" src="../../../assets/pictures/outlook-out-of-office.png" alt="excel pic">
            <h2>Approved Leaves</h2>
        </div>
    </div>
</div>